

<div class="row">
    <div class="productsTable"> 
      
      <table class="table">
          <thead class="tableHeader">
                <tr>
                  <th class="col s12 m4 l4"><h3>Product Desc.</h3></th>
                  <th class="col s12 m4 l5"><h3>Description</h3></th>
                  <th class="col s12 m4 l1"><h3>Price</h3></th>
                  <th class="col s12 m4 l1"><h3>Qty.</h3>
                  </th>
                </tr>
          </thead>
              <br>
        {{#each products}}
            <tbody>
              <tr>
                <td class="col s12 m4 l4"><strong>{{this.productName}}</strong></td>
                <td class="col s12 m4 l5">{{this.productDescription}}</td>
                <td class="col s12 m4 l1">{{formatNumber this.cost style="currency" currency="USD"}}</td>
                <td class="col s12 m4 l1"><input id="{{this.id}}" type="number"></td>
                <td class="col s12 m4 l1"><button class="btn-sm btn-info addToCart" id="{{this.id}}">Add to Cart</button></td>
              </tr>
            </tbody>
        {{/each}}
      </table>
      <div class="row">
        <table id="totals">
        <tbody>
          <tr class="col-sm-12 center">
              <td class="right" id="totalDue"><span class="text-muted tot">Total:    </span><input type="total"></td>
              <td></td>
          </tr>
        </tbody>
    </table>
      </div>
      <div class="col-sm-12 center">
        <p>
          <a href="#" class="btn btn-default right btn-lg">
           <span class="shopping_cart"></span> Proceed to Checkout!
          </a>
        </p> 
      </div>
      
      
    </div>
</div>
{{!-- <div class = "home1-row">
                <div class="form-group col-sm-4">
                  <div class="card" style="width: 20rem;">
                     <img class="card-img-top" src="../imag/solar_home5.jpg" alt="Card image cap">
                    <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class = "home2-row"> 
             <div class="form-group col-sm-4">
              <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="../imag/solar_home6.jpg" class="img-fluid" alt="Card image cap">
                 <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
             </div>
            </div>
          </div>
          <div class = "home3-row"> 
            <div class="form-group col-sm-4">
                  <div class="card" style="width: 20rem;">
                     <img class="card-img-top" src="../imag/solar_home7.jpg" alt="Card image cap">
                    <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
 --}}
